/*******************************
            Global
*******************************/

html, body {
  font-family: "Lato", Arial, sans-serif;
  margin: 0px;
  padding: 0px;
  height: 100%;
}
body {
  min-height: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Merriweather", Times New Roman, serif;
}


.button {
 /** TODO color gradient **/
}

.bg-pale-green {
  background-color: rgb(221, 238, 239);
}

.bg-deep-green {
  background-color: rgb(136, 179, 146);
}

.content {
  flex: 1 0 auto;
}
/*******************************
              Page
*******************************/

.hero {

}

.hero-logo {
  position: absolute;
  top: 10px;
}

.hero-graphic {
  width: 500px;
  position: absolute;
  right: 100px;
  top: 50px;
}

.lead {
  width: 400px;
}

.page {

}

.footer {
  flex-shrink: 0;
}

.footer-text {
  font-size: 12px;
}


/*******************************
         Responsive
*******************************/

/* Small Monitor */
@media only screen and (min-width: 1025px) and (max-width: 1199px) {

}


/* Tablet */
@media screen and (max-width: 1024px) {
  .hero-graphic {
    display: none;
  }

  .footer-landscape {
    display: none !important;
  }
}

/* Mobile */
@media only screen and (max-width: 767px) {

}
